* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   font-family: 'Raleway', sans-serif;
   font-size: 17px;
   line-height: 1.6;
   background-color: #333;
   color: #fff;
   height: 100%;
   width: 100%;
   overflow-x: hidden;
}

/* UTILITIES */
img {
   width: 100%;
   height: 100vh;
}

/* BURGER */
.burger {
   cursor: pointer;
   z-index: 5;
}

.burger div {
   background-color: #ccc;
   height: 2px;
   margin: 0.2rem;
}

.burger .line-1 {
   width: 28px;
}

.burger .line-2 {
   width: 18px;
}

.logo {
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin: 1rem 2rem;
}

/* SHOWCASE */
.showcase {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   width: 100%;
   height: 100vh;
}

.showcase-content {
   display: flex;
   align-items: flex-start;
   justify-content: center;
   flex-direction: column;
   text-align: left;
   margin-top: 12vh;
   padding: 0.5rem 4rem;
   line-height: 1.5;
}

.showcase-content h1 {
   font-size: 4rem;
   margin-bottom: 1rem;
}

.lead {
   position: relative;
   color: #ccc;
   margin-bottom: 1rem;
}

.btn {
   background-color: #fff;
   color: #333;
   border: none;
   outline: none;
   padding: 0.8rem 2rem;
   font-size: 1rem;
   cursor: pointer;
   transition: all ease-out 0.5s;
}

.btn:hover {
   background-color: #ccc;
}

/* ABOUT */
.about {
   background-color: #ccc;
   color: #333;
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   width: 100%;
   height: 100vh;
}

.about-content {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   text-align: center;
   position: relative;
   padding: 0 3rem;
   height: 100vh;
}

/* CONTACT */
.contact {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   width: 100%;
   height: 100vh;
}

.contact-content {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   text-align: center;
   height: 100vh;
}

.contact-content h1 {
   font-size: 2.5rem;
}

.contact-content p {
   color: #ccc;
}

.contacts {
   margin-top: 1.5rem;
}

.contacts div {
   border: 3px solid #fff;
   margin: 1rem 0;
   text-align: left;
   padding: 1rem 2rem;
   transition: all ease-out 0.5s;
   cursor: pointer;
}

.contacts div:hover {
   border: 3px solid #999;
}

/* FOOTER */
footer {
   background-color: #ccc;
   color: #333;
   padding: 1rem 2rem;
   text-align: center;
}

/* MEDIA QUERIES */
@media screen and (max-width: 1235px) {
   .showcase-content {
      margin-top: 1vh;
   }
   .showcase-content h1 {
      font-size: 3.5rem;
   }
}

@media screen and (max-width: 880px) {
   .showcase-content h1 {
      font-size: 3rem;
      margin-bottom: 2rem;
   }

   .showcase-content p {
      display: none;
   }
}

@media screen and (max-width: 780px) {
   .showcase {
      grid-template-columns: 1fr;
      height: 100%;
   }

   .showcase-content {
      margin-top: 1vh;
      height: 100vh;
   }

   .about {
      grid-template-columns: 1fr;
      height: 100%;
   }

   .contact {
      grid-template-columns: 1fr;
      height: 100%;
   }
}
